form .new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 50rem;
  margin-bottom: 1rem;
  text-align: left;
}

form .new-expense__control label {
  display: block;
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

form .new-expense__control input {
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

form .hidden {
  display: none;
}

form .new-expense__actions {
  text-align: right;
}

form .flexAlign {
  display: flex;
  justify-content: center;
}

form .new-expense__actions button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  border-radius: 12px;
  margin-right: 1rem;
  color: white;

  &:hover,
  &:active {
    background-color: #510674;
    border-color: #510674;
  }

}
